@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root{
    height: 100%;
}
.smallScroll-Vertical{
    scrollbar-width: thin;
}
.smallScroll-Vertical::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scrollbar-width: thin !important;
}
.smallScroll-Vertical::-webkit-scrollbar-track-piece {
    background: #eee;
    border-radius: 10px;
}
.smallScroll-Vertical::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}
.smallScroll-Vertical::-webkit-scrollbar-thumb:hover {
    background: #aaa
}
.smallScroll-Vertical::-webkit-scrollbar-thumb:active {
    background: #888
}